<ion-header [translucent]="true">
  <ion-toolbar color="food">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sucursales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="container">

  <ion-list>
    <ion-item *ngFor="let item of sucursales" class="ion-margin-bottom" routerLink="sucursal/{{item.id}}">
        <ion-avatar slot="start" style="width: 30%; height: auto;">
          <img src="{{item.imagen + '?raw=1'}}"  class="img-flud"  />
        </ion-avatar>
        <ion-label>
          <h2>{{item.nombre}}</h2>
          <h3>{{item.telefono}}</h3>
          <p>{{item.direccion}}</p>
        </ion-label>
      </ion-item>

  </ion-list>
</ion-content>